################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BingWallpaper/v16
/BingWallpaper/obj
/BingWallpaper/bin/Release/BingWallpaper.exe
/BingWallpaper/bin/Release
/BingWallpaper/bin/Debug
